<!-- // Hamburger Menu Overlay for Tablet and Mobile -->
<div class='menu-btn webdev'>
    <div class='menu-btn-burger'>
    </div>
    <div class='menu'>
        <div>
            <div>
                <ul>
                    <a href="/"><img style="width: 125px; margin-bottom: 2rem;" src="/svg/EGLMedia.svg" alt="EGL Media"></a>
                    <li><a href="/photography/about">About</a></li>
                    <li><a href="/webdevelopment">Development</a></li>
                    <li><a href="/photography">Photography</a></li>
                    <!-- <li><a href="/blog">Blog</a></li> -->
                    <li><a href="/photography/contact">Contact</a></li>
                    <!-- <li><i class="fa fa-adjust nav-link" aria-hidden="true"></i></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>