<section class="main-header">
    <%- include('./burger') %>
    <div class="header-container">
        <a href="/"><img style="width: 100px;" src="/svg/EGLMedia.svg" alt="EGL Media"></a>
        <nav class="minimal-navbar">
            <ul>
                <li><a href="/photography/about" class="nav-link">About</a></li>
                <li><a href="/webdevelopment" class="nav-link">Web Development</a></li>
                <li><a href="/photography" class="nav-link">Photography</a></li>
                <li><a href="/photography/contact" class="nav-link">Contact</a></li>
                <!-- <i class="fa fa-adjust nav-link" aria-hidden="true"></i> -->
            </ul>
        </nav>
    </div>
</section>