<nav id="navbar">
    <ul>
        <li><a href="/webdevelopment" class="nav-link">Back to Projects</a></li>
        <li><a href="/photography/about" class="nav-link">About</a></li>
        <li><a href="/webdevelopment" class="nav-link">Web Development</a></li>
        <li><a href="/photography" class="nav-link">Photography</a></li>
        <li><a href="/photography/contact" class="nav-link">Contact</a></li>
        <i class="fa fa-adjust nav-link" aria-hidden="true"></i>
    </ul>
</nav>