<%- layout('layout/projectlayout') %>
<section class='showcase-container' id="equilibrium-remedial-container">
    <div id="top-section">
        <a href="/"><img src="/svg/EGLMedia.svg" alt="EGL Media"></a>
        <nav id="navbar">
            <ul>
                <li><a href="/photography/about" class="nav-link">About</a></li>
                <li><a href="/webdevelopment" class="nav-link">Web Development</a></li>
                <li><a href="/photography" class="nav-link">Photography</a></li>
                <li><a href="/photography/contact" class="nav-link">Contact</a></li>
                <!-- <i class="fa fa-adjust nav-link" aria-hidden="true"></i> -->
            </ul>
        </nav>
        <%- include('../partials/burger') %>
    </div>
    <div id="middle-top-showcase">
        <h1>Equilibrium Remedial</h1>
    </div>
    <div class="showcase-bottom">
        <div class="project-details">
            <h3>2021</h3>
        </div>
        <div class="project-details">
            <ul>
                <li>
                    <h3>UI/UX Design</h3>
                </li>
                <li>
                    <h3>Full stack development</h3>
                </li>
            </ul>
        </div>
        <div class="project-details">
            <h3>Branding & Web Design</h3>
        </div>
    </div>
</section>
<main class="container" id="project-container">
    <div class="project-info">
        <h2 class="project-heading">About the Project</h2>
        <p>Equilibrium Remedial is an up and coming massage therapy business based in Melbourne, Australia. Founded and run by Aden Petersen, Equilibrium Remedial aims to provide excellent quality body therapy services in a very relaxing yet professional environment. The design of the website reflects the goals of the business by using soft, soothing colors and a relaxing user experience.</p>
        <!-- <button class="external-link-btn"><a href="#!" target="_blank" rel="noopener noreferrer">Coming soon <i class="fas fa-external-link-alt"></i></a></button> -->
        <button class="external-link-btn"><a href="https://github.com/egluna-dev/Equilibrium-Remedial" target="_blank" rel="noopener noreferrer">View Github Repo <i class="fas fa-external-link-alt"></i></a></button>
    </div>
    <div class="project-main-section">
        <div class="project-branding">
            <h2 class="project-heading">Branding & UI Design</h2>
            <div class="branding-info">
                <img class="branding-img" style="width: 150px;" src="/images/Homepage.jpg" alt="">
                <p>The design of Equilibrium Remedial's website entailed gaining an understanding of the company's mission statement and of the industry's aim in general; a deep healing and relaxing experience. As such, the color palette and font pairing were chosen to provide a soothing user/ui interaction.</p>
                <h3>Repair | Relax | Rebalance</h3>
            </div>
        </div>
        <div class="project-pallette">
            <h2 class="project-heading">Color Pallette</h2>
            <div class="pallette-grid">
                <div class="color-container">
                    <div class="color" id="green"></div>
                    <p class="color-hex">#659390</p>
                </div>
                <div class="color-container" >
                    <div class="color" id="red"></div>
                    <p class="color-hex">#9B4D67</p>
                </div>
                <div class="color-container" >
                    <div class="color" id="blue"></div>
                    <p class="color-hex">#7F8695</p>
                </div>
                <div class="color-container" >
                    <div class="color" id="black"></div>
                    <p class="color-hex">#383838</p>
                </div>
                <div class="color-container" >
                    <div class="color" id="grey"></div>
                    <p class="color-hex">#999999</p>
                </div>
                <div class="color-container" >
                    <div class="color" id="white"></div>
                    <p class="color-hex">#FFFFFF</p>
                </div>
            </div>
        </div>
        <div class="project-fonts">
            <h2 class="project-heading">Fonts</h2>
            <h3 id="alisha">Alisha</h3>
            <h3 id="playfair">Playfair Display</h3>
            <h3 id="roboto">Roboto</h3>
        </div>
        <div class="project-nav-btns">
            <button id="project-contact-btn"><a href="/webdevelopment#webdev-contact">Contact Me</a></button>
            <button class='nav-btn'><a href="#!">Next Project</a></button>
            <button class='nav-btn'><a href="/webdevelopment#project-portfolio">Back to Projects</a></button>
        </div>
    </div>
    <%- include('../partials/backtotop') %>
</main>