<%- layout('layout/boilerplate') %>
<section class="coming-soon">
    <div id="content">
        <div id="showcase-top">
            <a href="/"><img src="/logos/EGLMedia.svg" alt="EGL Media"></a>
            <nav id="navbar">
                <ul>
                    <li><a class="nav-link">About</a></li>
                    <li><a class="nav-link">Projects</a></li>
                    <li><a class="nav-link">Photography</a></li>
                    <li><a class="nav-link">Blog</a></li>
                    <li><a class="nav-link">Contact</a></li>
                    <i class="fa fa-adjust nav-link" aria-hidden="true"></i>
                </ul>
            </nav>
        </div>
        <div id="showcase-middle-1">
            <h2>Giovanni Luna</h2>
        </div>
        <div id="showcase-middle-2">
            <h2>UI/UX Design, Web Development</h2>
        </div>
        <div class="showcase-bottom">
            <div>
                <img src="/logos/downarrow.svg" alt="Scroll Down">
            </div>
            <a href="/blogs">See Blog Posts</a>
        </div>

    </div>
</section>