<%- layout('layout/boilerplate') %>
<section class="coming-soon">
    <div id="content">
        <div id="showcase-top">
            <a href="/"><img src="logos/EGLMedia.svg" alt="EGL Media"></a>
            <!-- <nav id="navbar">
                <ul>
                    <li><a class="nav-link">About</a></li>
                    <li><a class="nav-link">Projects</a></li>
                    <li><a class="nav-link">Photography</a></li>
                    <li><a class="nav-link">Blog</a></li>
                    <li><a class="nav-link">Contact</a></li>
                    <i class="fa fa-adjust nav-link" aria-hidden="true"></i>
                </ul>
            </nav> -->
        </div>
        <div id="showcase-middle-1">
            <h1>Giovanni Luna</h1>

        </div>
        <div id="showcase-middle-2">
            <button style='border: 2px solid white; background: none; font-family: "Open Sans"; color: white; padding: 0.5rem; font-size: 1rem;'><a href='/webdevelopment'>UI/UX Design & Development</a></button>
            <button style='border: 2px solid white; background: none; font-family: "Open Sans"; color: white; padding: 0.5rem; font-size: 1rem;'><a href="/photography">Photography</a></button>
        </div>
        <div class="showcase-bottom">
            <div>
                <i class="bi bi-instagram" style='color: white; font-size: 2rem; margin: 0.5rem;'></i>
                <i class="bi bi-github" style='color: white; font-size: 2rem; margin: 0.5em;'></i>
                <i class="bi bi-at" style='color: white; font-size: 2rem; margin: 0.5rem;'></i>
                <i class="bi bi-linkedin" style='color: white; font-size: 2rem; margin: 0.5rem;'></i>
            </div>
            <a href="/blogs">See Blog Posts</a>
        </div>

    </div>
</section>