// Colors
$charcoal: #303537;
$steel: #586168;
$mist: #abb8bc;
$fog: #ebebeb;
$yellow: #f8cc8b;
$blue: #3fa1bf;
$offwhite: #f7f7f7;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Space+Grotesk:wght@300&display=swap');
// Open Sans Condensed Light
@import url('https://use.typekit.net/rsn5icr.css');
// Alisha
@import url('https://use.typekit.net/rsn5icr.css');
// Playfair Display
@import url('https://use.typekit.net/rsn5icr.css');
// Roboto
@import url('https://use.typekit.net/rsn5icr.css');
$open: 'Open Sans Condensed', sans-serif;
$mongolian: 'Mongolian Baiti', serif;
$alisha: alisha, sans-serif;
$playfair: playfair-display, serif;
$roboto: roboto, sans-serif;
// Functions
