// Colors
$charcoal: #303537;
$steel: #586168;
$mist: #abb8bc;
$fog: #ebebeb;
$yellow: #f8cc8b;
$blue: #3fa1bf;
$offwhite: #f7f7f7;

// Fonts
@import url(//db.onlinewebfonts.com/c/cb8d4d30de89efdc96a98761ede26d3d?family=Mongolian+Baiti);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Space+Grotesk:wght@300&display=swap');
$open: 'Open Sans Condensed', sans-serif;
$mongolian: 'Mongolian Baiti', serif;
$alisha: alisha, sans-serif;
$playfair: playfair-display, serif;
$roboto: roboto, sans-serif;
// Functions
