<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-about">
        <h1>About</h1>
        <hr>
        <section class="about-photography">
            <div class="about-photography-left">
                <img src="/images/thumbnails/_NCZ3736.webp" alt="Giovanni Luna Portrait">
                <div class="contact-info-photography">
                    <h2>How to Contact</h2>
                    <div class="social-link-about">
                        <a href="mailto:eglunabusiness@gmail.com"><i class="bi bi-at"></i></a>
                        <p>egluna@live.ca</p>
                    </div>
                    <div class="social-link-about">
                        <a href="https://www.linkedin.com/in/e-giovanni-luna/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                        <p>giovanni-luna</p>
                    </div>
                    <div class="social-link-about">
                        <a href="https://instagram.com/eglcinephoto" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                        <p>@eglunaa</p>
                    </div>
                    <div class="social-link-about">
                        <a href="https://github.com/egluna-dev" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                        <p>egluna-dev</p>
                    </div>
                    <!-- <div class="social-link-about">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <p>@eglphoto</p>
                    </div> -->
                </div>
            </div>
            <div class="about-photography-right">
                <p class="about-photography-description">Giovanni Luna is a professional freelance photographer from Canada currently based in Melbourne, Australia. </p>
                <p class="about-photography-description">His main areas of interest within photography are landscape, street, portraiture, and documentary photography. In addition to photography work, Giovanni is a UI/UX designer and full stack web developer for his freelance business, EGL Media. </p>
                <div class="portfolio-links-container">
                    <a href="/webdevelopment" class="portfolio-links-about">View UI/UX and development work</a>
                    <a href="/photography" class="portfolio-links-about">View photography portfolio</a>
                </div>
            </div>
        </section>
    </div>
</main>