<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>Australia</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/Australia/_DSC4952-3.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/Australia/_DSC5790.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/Australia/_DSC5153-3.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Australia/_DSC5315.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/Australia/_NCZ4999-2.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/Australia/_DSC5143-2.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Australia/_NCZ6120.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/Australia/_DSC6098-2.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/Australia/_DSC7916.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Australia/_DSC5785.jpg" alt="" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>