<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>Australia</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box tall">
                <img src="/images/collections/Australia/Australia_vertical_5.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Australia/Australia_vertical_6.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Australia/Australia_horizontal_1.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Australia/Australia_horizontal_2.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Australia/Australia_horizontal_3.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Australia/Australia_horizontal_4.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Australia/Australia_vertical_8.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Australia/Australia_vertical_11.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Australia/Australia_horizontal_7.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Australia/Australia_horizontal_9.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Australia/Australia_horizontal_10.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Australia/Australia_horizontal_13.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Australia/Australia_horizontal_16.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Australia/Australia_vertical_12.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Australia/Australia_vertical_15.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Australia/Australia_horizontal_17.webp" alt="Australia" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Australia/Australia_horizontal_18.webp" alt="Australia" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>