<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>South Gippsland</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_3.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_5.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_8.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_1.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_2.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_9.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_10.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_13.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_14.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_4.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_6.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_17.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_18.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_19.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_20.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_21.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_22.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_11.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_12.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_23.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_24.webp" alt="Gippsland"class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_25.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_27.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_8.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_29.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_30.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_31.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_15.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_16.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_32.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_33.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_34.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_35.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_36.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_37.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_38.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_39.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_40.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_26.webp" alt="Gippsland" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>