<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>South Gippsland</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_3.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_5.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_8.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_1.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_2.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_9.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_10.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_13.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_14.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_4.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_6.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_17.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_18.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_19.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_20.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_21.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_22.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_11.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_12.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_23.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_24.jpg" alt="Gippsland"class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_25.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_27.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_8.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_29.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_30.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_31.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_15.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_16.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_32.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_33.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_34.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_35.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_36.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_37.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_38.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_39.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Gippsland/Gippsland_horizontal_40.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Gippsland/Gippsland_vertical_26.jpg" alt="Gippsland" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>