<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>South Gippsland</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6150.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/gippsland/_DSC8173.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/gippsland/_NCZ6037.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6040.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/gippsland/_NCZ6043.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/gippsland/_NCZ6047.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6054.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/gippsland/_NCZ6060.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/gippsland/_NCZ6065.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6067.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/gippsland/_NCZ6070.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6074.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6078.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6076.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/gippsland/_NCZ6070.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6081.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6079.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6090.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6100.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/gippsland/_NCZ6111.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/gippsland/_NCZ6102.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6116.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6126.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6128.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6134.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6144.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/gippsland/_NCZ6145.jpg" alt="" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>