<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>Collections > Travel & Landscape</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/landscape/_DSC4641-2.jpg" alt="" class="gallery-img">
            </div>
            <div class="grid-box tall">
                <img src="/images/landscape/_DSC5905.jpg" alt="" class="gallery-img">
            </div>
            <div class="grid-box tall">
                <img src="/images/landscape/_DSC6233-3.jpg" alt="" class="gallery-img">
            </div>
            <div class="grid-box wide">
                <img src="/images/landscape/_DSC0499-2.jpg" alt="" class="gallery-img">
            </div>
            <div class="grid-box wide">
                <img src="/images/landscape/_DSC7723-Edit.jpg" alt="" class="gallery-img">
            </div>
            <div class="grid-box wide">
                <img src="/images/landscape/_DSC5315.jpg" alt="" class="gallery-img">
            </div>
            <div class="grid-box tall">
                <img src="/images/landscape/_DSC2340.jpg" alt="" class="gallery-img">
            </div>
        </div>
    </div>
</main>