<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>Manila</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/collections/Manila/Manila_horizontal_1.jpg" alt="Manila" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Manila/Manila_horizontal_2.jpg" alt="Manila" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Manila/Manila_horizontal_3.jpg" alt="Manila" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Manila/Manila_horizontal_4.jpg" alt="Manila" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Manila/Manila_horizontal_5.jpg" alt="Manila" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Manila/Manila_horizontal_6.jpg" alt="Manila" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Manila/Manila_horizontal_7.jpg" alt="Manila" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Manila/Manila_horizontal_8.jpg" alt="Manila" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Manila/Manila_horizontal_9.jpg" alt="Manila" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>