<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>Manila</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/Manila/_NCZ0532.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Manila/_NCZ0537.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Manila/_NCZ0538.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Manila/_NCZ0539.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Manila/_NCZ0543.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Manila/_NCZ0549.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Manila/_NCZ0555.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Manila/_NCZ0559.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Manila/_NCZ0725.jpg" alt="" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>