<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>Myanmar</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/Myanmar/_DSC8555.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/Myanmar/_DSC8505.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/Myanmar/_DSC8548.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Myanmar/_DSC8293.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Myanmar/_DSC8344.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Myanmar/_DSC8217.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Myanmar/_DSC8934.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Myanmar/_DSC8656.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Myanmar/_DSC8057.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Myanmar/_DSC8215.jpg" alt="" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>