<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>Myanmar</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_1.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Myanmar/Myanmar_vertical_7.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Myanmar/Myanmar_vertical_17.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_3.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_4.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_5.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_8.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_9.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_10.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_11.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Myanmar/Myanmar_vertical_2.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Myanmar/Myanmar_vertical_6.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_12.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_13.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_14.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_15.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_16.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_18.jpg" alt="Myanmar" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>