<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>Myanmar</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_1.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Myanmar/Myanmar_vertical_7.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Myanmar/Myanmar_vertical_17.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_3.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_4.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_5.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_8.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_9.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_10.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_11.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Myanmar/Myanmar_vertical_2.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Myanmar/Myanmar_vertical_6.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_12.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_13.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_14.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_15.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_16.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Myanmar/Myanmar_horizontal_18.webp" alt="Myanmar" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>