<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>People</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box tall">
                <img src="/images/people/_DSC7834.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/people/_NCZ1850.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/people/_DSC6024.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/people/_NCZ3518.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/people/_NCZ3741.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/people/_DSC5520.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/people/_NCZ3507.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/people/_DSC7990.jpg" alt="" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>