<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <div class="photography-title">
            <h1>Photography</h1>
            <hr>
        </div>
        <div class="collections">
            <h2>Collections</h2>
        </div>
        <div class="photo-grid">
            <div class="photo-container landscape">
                <a href="/photography/travel-landscape" ><img class="photo-thumbnail wide" src="/images/landscape/_DSC7723-Edit.jpg" alt=""></a>
                <div class="middle">
                    <div class="text">Travel & Landscape</div>
                </div>
            </div>
            <div class="photo-container street">
                <a href="/photography/streetphotography" ><img class="photo-thumbnail tall" src="/images/street/_DSC6349.jpg" alt=""></a>
                <div class="middle">
                    <div class="text">Street</div>
                </div>
            </div>
            <div class="photo-container australia">
                <a href="/photography/australia" ><img class="photo-thumbnail tall" src="/images/Australia/_DSC4952-3.jpg" alt=""></a>
                <div class="middle">
                    <div class="text">Australia</div>
                </div>
            </div>
            <div class="photo-container canada">
                <a href="/photography/canada" ><img class="photo-thumbnail wide" src="/images/Canada/muskeg.jpg" alt=""></a>
                <div class="middle">
                    <div class="text">Canada</div>
                </div>
            </div>
            <div class="photo-container myanmar">
                <a href="/photography/myanmar" ><img class="photo-thumbnail wide" src="/images/Myanmar/_DSC8555.jpg" alt=""></a>
                <div class="middle">
                    <div class="text">Myanmar</div>
                </div>
            </div>
            <div class="photo-container gippsland">
                <a href="/photography/gippsland" ><img class="photo-thumbnail wide" src="/images/gippsland/_DSC8203.jpg" alt=""></a>
                <div class="middle">
                    <div class="text">South Gippsland</div>
                </div>
            </div>
            <div class="photo-container vietnam">
                <a href="/photography/vietnam" ><img class="photo-thumbnail wide" src="/images/Vietnam/_DSC9404-1.jpg" alt=""></a>
                <div class="middle">
                    <div class="text">Vietnam</div>
                </div>
            </div>
            <div class="photo-container manila">
                <a href="/photography/manila" ><img class="photo-thumbnail wide" src="/images/Manila/_NCZ0532.jpg" alt=""></a>
                <div class="middle">
                    <div class="text">Manila</div>
                </div>
            </div>
        </div>
    </div>
</main>