<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>Vietnam</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_1.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_2.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_3.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_4.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_6.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_7.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_8.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Vietnam/Vietnam_vertical_5.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/collections/Vietnam/Vietnam_vertical_21.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_9.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_10.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_11.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_12.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_13.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_14.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_15.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_16.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_17.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_18.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_19.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/collections/Vietnam/Vietnam_horizontal_20.webp" alt="Vietnam" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>