<%- layout('layout/photolayout') %>
<main class="main-body">
    <div class="body-content-photography">
        <h1>Vietnam</h1>
        <hr>
        <div class="back-home">
            <a href="/photography">Back to Photography</a>
        </div>
        <div class="photo-grid-gallery">
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC9404-1.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC9593.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC9421.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC9384.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC9988-Edit.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC9930-3.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC9486.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/Vietnam/_DSC0215.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box tall">
                <img src="/images/Vietnam/_DSC9999-3.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC9676.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC9692-3.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC9714.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC9733-3.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC0190.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC0129.jpg" alt="" class="gallery-img-portrait">
            </div>
            <div class="grid-box wide">
                <img src="/images/Vietnam/_DSC0155.jpg" alt="" class="gallery-img-portrait">
            </div>
        </div>
    </div>
</main>