<%- layout('layout/photoboiler') %>
<main class="main-body">
    <div class="body-content">
        <h1>Terms and Conditions</h1>
        <hr>
        <p>When you visit the Site, we collect certain information about your device, your interaction with the Site, and information necessary to process your purchases. We may also collect additional information if you contact us for customer support. In this Privacy Policy, we refer to any information that can uniquely identify an individual (including the information below) as “Personal Information”. See the list below for more information about what Personal Information we collect and why.

            Device information
            
            Examples of Personal Information collected: version of web browser, IP address, time zone, cookie information, what sites or products you view, search terms, and how you interact with the Site.
            Purpose of collection: to load the Site accurately for you, and to perform analytics on Site usage to optimize our Site.
            Source of collection: Collected automatically when you access our Site using cookies, log files, web beacons, tags, or pixels.
            Disclosure for a business purpose: shared with our processor Shopify.
            Order information
            
            Examples of Personal Information collected: name, billing address, shipping address, payment information (including credit card numbers), email address, and phone number.
            Purpose of collection: to provide products or services to you to fulfill our contract, to process your payment information, arrange for shipping, and provide you with invoices and/or order confirmations, communicate with you, screen our orders for potential risk or fraud, and when in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.
            Source of collection: collected from you.
            Disclosure for a business purpose: shared with our processor Shopify and other apps such as Printful and FetchApp.
            Customer support information
            
            Examples of Personal Information collected: As above.
            Purpose of collection: to provide customer support.
            Source of collection: collected from you. </p>
    </div>
</main>